<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OASIS</title>

    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <!-- https://materializecss.com -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/templatemo-style.css">
    <!-- Template Mo style -->

</head>

<body onload='init()'>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <i class="far fa-comments fa-4x tm-site-icon"></i>
                <h1 class="tm-site-name">OASIS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tm-parallax"></div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0">
            <div>
                <div class="col-12">
                    <p class="mb-0" style="font-size: 24px;">您好！感谢您参与本研究。问卷数据仅作本次研究使用，
                        <span style="color:#fe2419;">问卷所有题目均无对错之分</span>，
                        请您根据自己的感觉填写答案即可。</p>
                </div>
            </div>
        </div>

        <form action="/submit" method="post" onsubmit="return check()">
            <div class="row content-ques">

            </div>
            <div class="col-12 text-center tm-submit-container">
                <button id="submit" type="submit" class="btn btn-primary tm-btn-submit">提交</button>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <input type="text" id="hidden_username" name="username" style="display:none">
        </form>
        <div class="row">
          <div class="col-12">
                <footer>
                    <p class="text-center mb-3 tm-footer-text">Copyright &copy; TemplateMo 2018 HJT</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/common.js"></script>
    <script src="js/ques.js"></script>
    <script type="text/templete" id="radio-ques">
        <% for(var k = 0; k < record.length; k++){ var paper=record[k]; %>
        <div class="col-12">
            <hr style="margin-bottom: 10px">
            <p class="tm-highlight"><%=paper.cName%></p>
        </div>
        <% for(var i = 0; i < paper.questionList.length; i++){ var item=paper.questionList[i]; %>
        <div class="col-12">
            <h2 class="tm-question-header" id="paper<%=paper.nOrder%>-ques<%=item.nOrder%>"><%=item.cDescription%></h2>
            <div class="tm-q-choice-container" id="paper<%=paper.nOrder%>-option<%=item.nOrder%>">
                <% for(var j = 0; j < item.optionList.length; j++){ var res=item.optionList[j]; %>
                <label class="tm-q-choice" id="item-lab<%=(j+1)%>">
                    <div class="mb-3">
                        <input class="tm-radio-group-1 with-gap" name="paper<%=paper.nOrder%>-ques<%=item.nOrder%>" type="radio" value=<%=res.cId%> />
                        <span><%=res.cDescription%></span>
                    </div>
                </label>
                <br />
                <% } %>
            </div>
        </div>
        <%if (i < paper.questionList.length - 1){ %>
        <div class="col-12">
            <hr>
        </div>
        <% } %>
        <% } %>
        <% } %>
    </script>
</body>

</html>